@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
    font-family: sans-serif;
    font-family: 'Lato', sans-serif;
	text-align: center;
}
*,*:before,*:after{
	box-sizing: border-box;
}